@media (min-width: 320px) {
  * {
    margin: 10px;
  }

  .sitetitle {
    border: 5px solid black;
    background-color: #3b3a30;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 8px 15px; /* shorthand: top/bottom & right/left */
  }

  #grey-background {
    background-color: #eaece5;
  }

  ul.menu {
    padding-inline-start: 0px;
    background-color: #c0ded9;
  }

  ul.menu li {
    display: inline-block;
    margin-right: 35px;
  }

  ul.menu a {
    text-decoration: none;
    color: black;
  }

  ul.menu a.current {
    font-weight: bold;
  }

  p.klein {
    font-size: 10px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 8px;
  }

  p.medium {
    font-size: 16px;
    padding: 5px;
  }

  p.medium2 {
    font-size: 16px;
    background-color: #eaece5;
    padding: 5px;
  }

  p.groot {
    font-size: 22px;
    padding: 8px;
  }

  a.winclink {
    color: blue;
  }

  .header {
    border: 5px dotted red;
    border-radius: 15px;
  }

  .nav {
    border-top-color: green;
    border-top-style: dotted;
    border-right-color: orange;
    border-right-style: dashed;
    border-bottom-color: grey;
    border-bottom-style: ridge;
    border-left-color: plum;
    border-left-style: inset;
  }

  .main {
    border: medium groove blue;
  }

  .footer {
    margin: 0 auto;
    width: 80%;
    border-width: 5px;
    border-style: double;
    border-color: black;
  }
}

@media (min-width: 1024px) {
  * {
    margin: 10px;
  }

  .sitetitle {
    border: 5px solid black;
    background-color: #3b3a30;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 8px 15px; /* shorthand: top/bottom & right/left */
  }

  #grey-background {
    background-color: #eaece5;
  }

  ul.menu {
    padding-inline-start: 0px;
    background-color: #c0ded9;
  }

  ul.menu li {
    display: inline-block;
    margin-right: 35px;
  }

  ul.menu a {
    text-decoration: none;
    color: black;
  }

  ul.menu a.current {
    font-weight: bold;
  }

  p.klein {
    font-size: 10px;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 8px;
  }

  p.medium {
    font-size: 12px;
    padding: 5px;
    color: blue;
    line-height: 2em;
  }

  p.medium2 {
    font-size: 16px;
    background-color: #eaece5;
    padding: 5px;
  }

  p.groot {
    font-size: 22px;
    padding: 8px;
  }

  a.winclink {
    color: blue;
  }

  .header {
    border: 5px dotted red;
    border-radius: 15px;
  }

  .nav {
    border-top-color: green;
    border-top-style: dotted;
    border-right-color: orange;
    border-right-style: dashed;
    border-bottom-color: grey;
    border-bottom-style: ridge;
    border-left-color: plum;
    border-left-style: inset;
  }

  .main {
    border: medium groove blue;
    background-color: red;
  }

  .footer {
    margin: 0 auto;
    width: 80%;
    border-width: 5px;
    border-style: double;
    border-color: black;
  }
}
